body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----- Header part ----- */
.header-container {
    background-color: #1F2937;
    padding: 1em 8rem 5em;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #F9FAF8;
}

.links a, .header-paragraph, .logo {
    font-size: 1.1rem;
    color: #E5E7EB;
}

.logo {
    font-weight: 700;
}

.header-img {
    text-align: center;
    outline: dotted lightgray;
    width: 350px;
}

ul {
    display: flex;
    list-style: none;
    gap: 1em;
}
a {
    text-decoration: none;
}

h1 {
    margin: 0;
}
.sign-up-btn {
    color: white;
    background-color: #3882F6;
    border-radius: 6px;
    padding: .5em 1.5em;
    border: none;
}

.header-paragraph {
    max-width: 45ch;
}

.header-txt-img-container {
    display: flex;
    justify-content: space-between;
}


/* ---- Header part ends here */

/* ----- info part starts here */

.info-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 6rem 4rem;
}

h2 {
    font-size: 2.25rem;
    margin: 0 0 2em;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 3rem;
}

.div-img {
    border-radius: 8px;
    outline: dotted lightslategray;
    width: 200px;
    height: 200px;
}
.info-img-container {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.text-and-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-and-img p {
    max-width: 200px;
    text-align: center;
}




/* ---- quotation parts begin here */

.quote-parent {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 6em 4em;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex-basis: 65ch;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.quote {
    align-self: center;
    max-width: 45ch;
    line-height: 2.5rem;
    flex-grow: 0;
    margin: 0;
    font-size: 1.5rem;
}

.author-name {
    margin: 0;
    font-weight: bold;
    align-self: center;
    align-self: flex-end;
}


/* ---------- call to action part begins here */

.c-t-a-parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 8rem;
}

.c-t-a-container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-radius: .5rem;
}


.call-to-action, h3 {
    margin: 0;
    color: white;
}

.c-a-t-btn {
    color: white;
    background-color: #3882F6;
    border-color: #E5E7EB;
    border-radius: 6px;
    padding: .5em 1.5em;
}


/* ---------footer starts here */
.footer {
    color: #E5E7EB;
    background-color:#1F2937;
    text-align: center;
    padding: .5em 0;
}

